<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financing 101 Landing Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/financing_101.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section id="header_container">
            <div class="header_notes">
                <ul>
                    <li>Next Cohort starts October 12th</li>
                    <li id="contact">
                        <img src="../assets/img/phone_icon.png">
                        <h5>(844) 446 3656</h5>
                    </li>
                    <li>
                        <button>Talk To Us</button>
                    </li>
                </ul>
            </div>
            <nav class="navbar navbar-expand-lg">
                <img src="../assets/img/coding_dojo_logo_white_new.png" id="coding_dojo_logo" alt="coding dojo logo in white">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Full-Time</a>
                        <img src="../assets/img/dropdown_icon.png" class="dropdown_icon" alt="Dropdown icon">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Part-Time</a>
                        <img src="../assets/img/dropdown_icon.png" class="dropdown_icon" alt="Dropdown icon">
                    </li>
                    <li class="nav-item dropdown dojo">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dojo Difference</a>
                        <img src="../assets/img/dropdown_icon.png" class="dropdown_icon" alt="Dropdown icon">
                    </li>
                    <li class="nav-item dropdown online">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Online Campus</a>
                        <img src="../assets/img/dropdown_icon.png" class="dropdown_icon" alt="Dropdown icon">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Curriculum</a>
                        <img src="../assets/img/dropdown_icon.png" class="dropdown_icon" alt="Dropdown icon">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Corporate Training</a>
                    </li>
                  </ul>
                    <button class="btn my-2 my-sm-0" type="submit">Apply</button>
                </div>
            </nav>
        </section>   
        <section id="main_container">
            <h1>Fund Your Future At Coding Dojo</h1>
            <p id="main_p">When you commit to a big career change, the last thing you should be worrying about is the cost.</p>
            <div id="fixed_note">
                <h2>Discuss Your Funding Options</h2>
                <p id="fixed_note_p">Schedule a 1:1 call with an Admissions officer to discuss the funding option that is right for you.</p>
                <button>Chat with Admissions</button>
            </div>
        </section>
        <section id="popular_methods_container">
            <h2>The 4 Most Popular Funding Methods</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <img src="../assets/img/PayInFull.png" id="piggy" alt="a vector image of a piggy bank">
                            <div class="accordion_text">
                                <h5>Pay in Full</h5>
                                <p class="accordion_p">Receive a discount by paying up-front.</p>
                            </div>
                        </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <img src="../assets/img/InstallmentPlans.png" id="installment" alt="a vector image of form papers and a pen.">
                            <div class="accordion_text">
                                <h5>Installment Plans</h5>
                                <p class="accordion_p">If you don't want to pay all at once.</p>
                            </div>
                        </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <img src="../assets/img/AscentFinancingLogo.png" id="ascent" alt="Ascent Financing logo">
                            <div class="accordion_text">
                                <h5>Ascent Financing</h5>
                                <p class="accordion_p">For financing your program.</p>
                            </div>
                        </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Apply for a loan that covers 100% of tuition costs with our third-party partner, Ascent. Ascent offers students flexible loan options including Deferred Repayment options (payments begin 3 months post-graduation). A soft credit check is required and seeing if you qualify only takes 3-5 minutes. </p>
                            <p>A hard credit check IS required to finalize the loan documents after approval. Utilizing a cosigner is an option with Ascent. Additional terms may apply; see application for more details.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <img src="../assets/img/ClimbCreditLogo.png" id="climb" alt="Climb Credit logo">
                            <div class="accordion_text">
                                <h5>Climb Credit</h5>
                                <p class="accordion_p">For financing your program.</p>
                            </div>
                        </button>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="gauge_savings_container">
            <h2>Gauge Your Potential Savings</h2>
            <div id="gauge">
                <ul id="gauge_progress">
                    <li class="group">
                        <ul id="early">Early Registration</ul>
                        <ul id="open">Open House</ul>
                        <ul id="scholarship">Scholarship</ul>
                        <ul id="full">Pay in Full</ul>
                        <ul></ul>
                    </li>
                    <li class="group">
                        <ul class="rectangle">$250</ul>
                        <ul class="rectangle">$100</ul>
                        <ul class="rectangle">$1-1500</ul>
                        <ul class="rectangle">$1500</ul>
                        <ul></ul>
                    </li>
                    <li class="group text" id="gauge_text">
                        <ul class="early_text">Pay your deposit within 5 days of your acceptance to Coding Dojo and receive $250 off* your program.</ul>
                        <ul class="open_text">Attend your program’s Open House and unlock $100 off with a unique promotional voucher.</ul>
                        <ul class="scholarship_text">Attend your program’s Open House and unlock $100 off with a unique promotional voucher.</ul>
                        <ul class="full_text">Pay in full upon enrollment and save $1500 off your tuition!</ul>
                    </li>
                </ul>
                <p>*Early Registration Discount is only applicable if no other deposit adjustments are applied to the program and the deposit is not covered by a third-party. </p>
            </div>
            <h3 id="saved">You've Saved</h3>
            <h4>$3,350</h4>
            
            <img src="../assets/img/Ellipse.png" alt="a blue circle" id="circle">
            <img src="../assets/img/bar.png" alt="a vector image of a bar" id="bar">
        </section>
    </main>

</body>
</html>