* body {
  background-color: #f8faff;
  margin: 0px auto;
}
* body header #cohort_section {
  background-color: #272634;
}
* body header #cohort_section #cohort_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 3px 40px 3px 600px;
}
* body header #cohort_section #cohort_container #cohort_notes {
  background-color: #272634;
  color: #ffffff;
  font: normal 400 16px/16px 'Proxima Nova';
  letter-spacing: 0.6px;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details {
  align-items: center;
  display: flex;
  padding: 0px;
  margin: 0px;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details li {
  list-style: none;
  padding: 0px;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details li button {
  background-color: transparent;
  border: 1px solid #05aae1;
  color: #ffffff;
  height: 36px;
  margin-left: 64px;
  width: 120px;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details #cohort_text {
  margin-right: 0px;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details #cohort_contact {
  align-items: center;
  display: flex;
  margin-left: 230px;
  margin-right: 0px;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details #cohort_contact img {
  margin-right: 13px;
  vertical-align: center;
}
* body header #cohort_section #cohort_container #cohort_notes #cohort_details #cohort_contact h5 {
  color: #05aae1;
  font: normal 400 16px/16px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  vertical-align: center;
}
* body header #nav_bar_section {
  background-color: #1d1f21;
}
* body header #nav_bar_section #nav_bar_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 13px 40px 13px 30px;
}
* body header #nav_bar_section #nav_bar_container nav {
  font: normal 700 16px/19px 'Proxima Nova';
  letter-spacing: 0.4px;
  margin: 0px;
  padding: 0px;
}
* body header #nav_bar_section #nav_bar_container nav .navbar-nav .nav-link {
  padding: 0px;
}
* body header #nav_bar_section #nav_bar_container nav #coding_dojo_logo {
  height: 30px;
  margin-right: 179px;
  width: 99px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse {
  margin: 0px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse li {
  align-items: center;
  display: flex;
  margin-left: 0px;
  margin-right: 46px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse li a {
  color: #ffffff;
  padding: 0px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse li .dropdown_icon {
  height: 4px;
  margin-left: 10px;
  width: 10px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse li:last-child {
  margin-right: 72px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse .dojo {
  margin-right: 25px;
}
* body header #nav_bar_section #nav_bar_container nav .collapse .online {
  margin-right: 29px;
}
* body header #nav_bar_section #nav_bar_container nav button {
  background-color: #05aae1;
  color: #ffffff;
  font: normal 700 16px/19.49px 'Proxima Nova';
  height: 36px;
  padding: 0px;
  text-align: center;
  width: 120px;
}
* body main {
  margin: 0px auto;
  position: relative;
}
* body main #fixed_note_section {
  z-index: -1;
}
* body main #fixed_note_section #fixed_note_container {
  margin: 0px auto;
  max-width: 1440px;
}
* body main #fixed_note_section #fixed_note_container #fixed_note_box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: #333333;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
  height: 441px;
  margin-left: 888px;
  margin-top: 95px;
  margin-right: 144px;
  position: fixed;
  width: 406px;
}
* body main #fixed_note_section #fixed_note_container #fixed_note_box #fixed_note_head_text {
  font: normal 700 40px/45px 'Proxima Nova';
  height: 154px;
  letter-spacing: 0.6px;
  margin-left: 65px;
  margin-top: 51px;
  width: 274px;
}
* body main #fixed_note_section #fixed_note_container #fixed_note_box #fixed_note_p {
  font: normal 400 16px/22px 'Proxima Nova';
  height: 61px;
  letter-spacing: 0.3px;
  margin-left: 65px;
  width: 270px;
}
* body main #fixed_note_section #fixed_note_container #fixed_note_box button {
  background: #05aae1;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: #ffffff;
  font: normal 700 16px/19.49px 'Proxima Nova';
  height: 65px;
  letter-spacing: 0.6px;
  margin-left: 65px;
  margin-top: 38px;
  text-align: center;
  width: 271px;
}
* body main #banner_section {
  background: url("../img/financing_101_banner.png") no-repeat center;
  background-size: cover;
}
* body main #banner_section #banner_container {
  color: #ffffff;
  height: 485px;
  margin: 0px auto;
  max-width: 1440px;
  padding: 126px 786px 166px 142px;
  position: relative;
}
* body main #banner_section #banner_container h1 {
  font: normal 700 64px/73.73px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 13px;
}
* body main #banner_section #banner_container #main_p {
  font: normal 400 17px/18px 'Proxima Nova';
  letter-spacing: 0.6px;
}
* body main #popular_methods_section #popular_methods_container {
  background-color: #f8faff;
  margin: 0px auto;
  max-width: 1440px;
  padding: 79px 620px 108px 143px;
}
* body main #popular_methods_section #popular_methods_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 0px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion {
  margin-top: 45px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item {
  filter: drop-shadow(0px 5px 19px rgba(11, 31, 39, 0.15));
  margin-bottom: 18px;
  width: 678px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header {
  margin: 0px;
  padding: 22px 62px 20px 28px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button {
  margin: 0px;
  outline: none;
  padding: 0px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button #popular_methods_accordion_piggy {
  margin-right: 45px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button #popular_methods_accordion_installment {
  margin-right: 45px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button #popular_methods_accordion_ascent {
  margin: 15px 23px 20px 8px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button #popular_methods_accordion_climb {
  margin: 28px 28px 38px 18px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button .accordion_text {
  color: #333333;
  height: 51.59px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button .accordion_text h5 {
  font: normal 700 22px/26.8px 'Proxima Nova';
  margin: 0px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button .accordion_text .accordion_p {
  padding: 0px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .collapsing {
  border-color: transparent;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url("../img/arrow-down-1.png");
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-body {
  font: normal 400 14px/23.02px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 0px 70px 30px 42px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item .accordion-body p:last-child {
  font: normal 400 14px/16.8px 'Proxima Nova';
  letter-spacing: 0.2px;
}
* body main #popular_methods_section #popular_methods_container .popular_methods_accordion .accordion-item:last-child {
  margin-bottom: 0px;
}
* body main #gauge_savings_section {
  background-color: #505170;
  z-index: -1;
}
* body main #gauge_savings_section #gauge_savings_container {
  color: #ffffff;
  margin: 0px auto;
  max-width: 1440px;
  padding: 62px 602px 40px 146px;
  position: relative;
}
* body main #gauge_savings_section #gauge_savings_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge_savings_circle {
  left: 132px;
  position: absolute;
  top: 167px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress {
  font: normal 700 14px/17.05px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .gauge_group {
  align-items: center;
  display: flex;
  padding: 0px;
  list-style: none;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .gauge_group .gauge_data {
  margin-right: 4px;
  padding-left: 0px;
  width: 130px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .gauge_group .gauge_head_text {
  margin-bottom: 14px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .text {
  align-items: flex-start;
  display: flex;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .value_rectangle {
  background: rgba(5, 170, 225, 0.3);
  height: 41px;
  padding-left: 0px;
  padding-top: 11px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .active {
  background-color: #05aae1;
  height: 41px;
  padding-top: 11px;
  padding-left: 0px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress .round_right_border {
  border-radius: 0px 15px 15px 0px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress #gauge_text {
  font: normal 400 12px/12px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-top: 22px;
  text-align: left;
}
* body main #gauge_savings_section #gauge_savings_container #gauge #gauge_progress #gauge_text .gauge_data {
  padding-right: 16px;
  margin-bottom: 84px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge p {
  font: normal 400 10px/10px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 0px;
}
* body main #gauge_savings_section #gauge_savings_container .gauge_savings_bar {
  left: 270px;
  position: absolute;
  top: 162px;
}
* body main #gauge_savings_section #gauge_savings_container .gauge_savings_250 {
  left: 270px;
  position: absolute;
  top: 162px;
}
* body main #gauge_savings_section #gauge_savings_container .gauge_savings_350 {
  left: 405px;
  position: absolute;
  top: 162px;
}
* body main #gauge_savings_section #gauge_savings_container .gauge_savings_1850 {
  left: 538px;
  position: absolute;
  top: 162px;
}
* body main #gauge_savings_section #gauge_savings_container .gauge_savings_3350 {
  left: 670px;
  position: absolute;
  top: 162px;
}
* body main #gauge_savings_section #gauge_savings_container h3 {
  font: normal 400 18px/18px 'Proxima Nova';
  height: 24px;
  left: 706.98px;
  letter-spacing: 0.6px;
  position: absolute;
  text-align: center;
  top: 158px;
  width: 130px;
}
* body main #gauge_savings_section #gauge_savings_container h4 {
  font: normal 700 26px/31.67px 'Proxima Nova';
  height: 24px;
  left: 706.98px;
  letter-spacing: 0.6px;
  position: absolute;
  text-align: center;
  top: 182px;
  width: 130px;
}
* body main #gauge_savings_section #gauge_savings_container #gauge_savings_cat {
  left: 792px;
  position: absolute;
  top: 439px;
}
* body main #fund_section #fund_container {
  background-color: #f8faff;
  margin: 0px auto;
  max-width: 1440px;
  padding: 69px 688px 46px 145px;
}
* body main #fund_section #fund_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
}
* body main #fund_section #fund_container div {
  align-items: flex-start;
  display: flex;
}
* body main #fund_section #fund_container div p {
  font: normal 400 18px/27px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 0px;
  margin-right: 45px;
  margin-top: 58px;
  width: 271px;
}
* body main #fund_section #fund_container div .fund_table {
  color: #333333;
  margin-top: 21px;
  margin-bottom: 0px;
  width: auto;
}
* body main #fund_section #fund_container div .fund_table thead,
* body main #fund_section #fund_container div .fund_table tbody {
  border-color: transparent;
  border-style: none;
  vertical-align: middle;
}
* body main #fund_section #fund_container div .fund_table tr {
  padding: 20px 18px;
}
* body main #fund_section #fund_container div .fund_table tr th {
  color: #333333;
  font: normal 700 16px/22.4px 'Proxima Nova';
  height: 50px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
* body main #fund_section #fund_container div .fund_table tr td {
  font: normal 400 16px/23.49px 'Proxima Nova';
  height: 62px;
}
* body main #fund_section #fund_container div .fund_table tr .td_title {
  padding-left: 19px;
  width: 156px;
}
* body main #fund_section #fund_container div .fund_table tr .td_data {
  text-align: center;
  width: 137px;
}
* body main #fund_section #fund_container div .fund_table tr .knock {
  font: normal 400 12.5px/15.48px 'Proxima Nova';
  padding: 18px 23.5px 18px 24px;
  width: 85.5px;
}
* body main #fund_section #fund_container div .fund_table tbody tr:nth-child(odd) {
  background: rgba(196, 196, 196, 0.23);
}
* body main #when_funding_section {
  background-color: #505170;
}
* body main #when_funding_section #when_funding_container {
  color: #ffffff;
  height: 1218px;
  margin: 0px auto;
  max-width: 1440px;
  padding: 77px 653px 66px 146px;
}
* body main #when_funding_section #when_funding_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 28px;
}
* body main #when_funding_section #when_funding_container p {
  font: normal 400 18px/27px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 26px;
}
* body main #when_funding_section #when_funding_container #when_funding_list {
  margin-bottom: 0px;
  padding: 0px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li {
  align-items: flex-start;
  display: flex;
  list-style: none;
  padding: 0px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_admin {
  margin-bottom: 34px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_study {
  margin-bottom: 50px;
  margin-left: 10px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_coinbank {
  margin-bottom: 26px;
  margin-left: 20px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_coding {
  margin-left: 20px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li div h5 {
  font: normal 700 20px/24.36px 'Proxima Nova';
  height: 35px;
  letter-spacing: 0.6px;
  margin-bottom: 0px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li div p {
  font: normal 400 18px/27px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-left: 0px;
  margin-bottom: 0px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_speak {
  margin-left: 44.5px;
  margin-top: 16px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_apply {
  margin-left: 52px;
  margin-top: 23px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_secure {
  margin-left: 62.61px;
  margin-top: 21px;
}
* body main #when_funding_section #when_funding_container #when_funding_list li #when_funding_start {
  margin-left: 56px;
  margin-top: 19px;
}
* body main #top_names_section {
  background-color: #f8faff;
}
* body main #top_names_section #top_names_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 87px 600px 88px 144px;
}
* body main #top_names_section #top_names_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 40px;
}
* body main #top_names_section #top_names_container #top_names_list {
  margin: 0px;
  padding: 0px;
}
* body main #top_names_section #top_names_container #top_names_list li {
  display: inline;
  list-style: none;
  margin-bottom: 37px;
  padding: 0px;
}
* body main #top_names_section #top_names_container #top_names_list img {
  margin-bottom: 37px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_google {
  margin-right: 28px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_amazon {
  margin-right: 34.17px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_airbnb {
  margin-right: 63px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_dropbox {
  margin-right: 63px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_uber {
  margin-right: 57px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_slack {
  margin-right: 59px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_twitter {
  margin-right: 42px;
}
* body main #top_names_section #top_names_container #top_names_list #top_names_facebook {
  margin-right: 44px;
}
* body main #quote_section {
  background-color: #f8faff;
}
* body main #quote_section #quote_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 71px 602px 141px 162px;
  position: relative;
}
* body main #quote_section #quote_container h3 {
  color: #333333;
  font: normal 400 31px/31px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 42px;
}
* body main #quote_section #quote_container div {
  align-items: flex-start;
  display: flex;
}
* body main #quote_section #quote_container div img {
  margin-right: 17px;
}
* body main #quote_section #quote_container div #quote_list {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
* body main #quote_section #quote_container div #quote_list h5 {
  color: #333333;
  font: normal 700 19px/23.14px 'Proxima Nova';
  height: 22px;
  margin-bottom: 3px;
}
* body main #quote_section #quote_container div #quote_list p {
  color: #333333;
  font: normal 400 16px/22.4px 'Proxima Nova';
  height: 22px;
  margin-bottom: 0px;
}
* body main #quote_section #quote_container #quotation {
  left: 381px;
  margin: 0px;
  position: absolute;
  top: 139px;
}
* body main #faqs_section {
  background-color: #f8faff;
}
* body main #faqs_section #faqs_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 75px 602px 108px 152px;
}
* body main #faqs_section #faqs_container h2 {
  color: #333333;
  font: normal 700 32px/38.98px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 50px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item {
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  filter: drop-shadow(0px 5px 19px rgba(11, 31, 39, 0.15));
  margin-top: 19px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header {
  padding: 38px 47px 38px 64px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header h4 {
  color: #2c393e;
  font: normal 700 20px/24.36px 'Proxima Nova';
  margin-bottom: 0px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header .accordion-button {
  align-items: center;
  display: flex;
  margin: 0px;
  padding: 0px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text {
  color: #333333;
  height: 51.59px;
  vertical-align: middle;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text h5 {
  font: normal 700 22px/26.8px 'Proxima Nova';
  margin: 0px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text .accordion_p {
  padding: 0px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url("../img/arrow-down-1.png");
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-body {
  padding: 0px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item .accordion-body p {
  font: normal 400 16px/23.02px 'Proxima Nova';
  height: 208px;
  letter-spacing: 0.6px;
  margin-left: 68px;
  width: 505.98px;
}
* body main #faqs_section #faqs_container .accordion .accordion-item:first-child {
  margin-top: 0px;
}
* body footer #footer_section {
  background-color: #1e1e29;
  position: relative;
}
* body footer #footer_section #footer_container {
  color: #ffffff;
  margin: 0px auto;
  max-width: 1440px;
  padding: 68px 145px 68px 134px;
}
* body footer #footer_section #footer_container #footer_links_and_form {
  align-items: flex-start;
  display: flex;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links {
  align-items: flex-start;
  display: flex;
  margin-bottom: 50px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links ul {
  list-style: none;
  padding-left: 0px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links ul li:first-child {
  font: normal 700 12px/30px 'Proxima Nova';
  margin-bottom: 24px;
  text-transform: uppercase;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links ul li {
  font: normal 400 14px/37px 'Proxima Nova';
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links ul li a {
  text-decoration: none;
  color: #ffffff;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links #footer_list_partnerships {
  margin-right: 50px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links #footer_list_resources {
  margin-right: 72px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_links #footer_list_campuses {
  margin-right: 262px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form {
  align-items: flex-start;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form h4 {
  font: normal 400 16px/28px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 22px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form form {
  margin-bottom: 20px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form form input {
  background: #ffffff;
  border-radius: 8px;
  font: normal 400 14px/20px 'Proxima Nova';
  letter-spacing: 0.2px;
  margin-right: 12px;
  padding: 15px 109px 15px 23px;
  vertical-align: middle;
  width: 285px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form form button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  filter: drop-shadow(0px 6px 6px rgba(11, 31, 39, 0.08));
  font: normal 700 14px/17px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 17px 30px 16px 30px;
  text-align: center;
  vertical-align: middle;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form p {
  font: normal 400 10px/17px 'Proxima Nova';
  padding-bottom: 0px;
  width: 406px;
}
* body footer #footer_section #footer_container #footer_links_and_form #footer_form p a {
  color: #05a9e1;
  text-decoration: none;
}
* body footer #footer_section #footer_container #footer_details {
  align-items: center;
  border-top: 0.5px solid #a5a3a3;
  display: flex;
  padding: 28px 256px 0px 0px;
  position: relative;
}
* body footer #footer_section #footer_container #footer_details #footer_contacts {
  margin-right: 398px;
  vertical-align: middle;
}
* body footer #footer_section #footer_container #footer_details #footer_contacts h3 {
  font: normal 400 20px/27px 'Proxima Nova';
}
* body footer #footer_section #footer_container #footer_details #footer_contacts h3 span {
  font: normal 700 20px/27px 'Proxima Nova';
}
* body footer #footer_section #footer_container #footer_details #footer_contacts h4 {
  font: normal 400 16px/27px 'Proxima Nova';
}
* body footer #footer_section #footer_container #footer_details #footer_contacts h4 a {
  color: #05a9e1;
}
* body footer #footer_section #footer_container #footer_details #footer_language {
  vertical-align: middle;
}
* body footer #footer_section #footer_container #footer_details #footer_language #language {
  align-items: center;
  display: flex;
  list-style: none;
  padding-left: 0px;
}
* body footer #footer_section #footer_container #footer_details #footer_language #language li:first-child {
  font: normal 700 12px/30px 'Proxima Nova';
  text-transform: uppercase;
}
* body footer #footer_section #footer_container #footer_details #footer_language #language li {
  font: normal 400 12px/37px 'Proxima Nova';
  margin-right: 20px;
}
* body footer #footer_section #footer_container #footer_details #footer_language #language li a {
  color: #ffffff;
  text-decoration: none;
}
* body footer #footer_section #footer_container #footer_scroll {
  position: absolute;
  right: 33px;
  top: 205px;
  width: 52px;
}
* body footer #footer_section #footer_container #footer_messenger_modal {
  position: absolute;
  right: 33px;
  top: 265px;
  width: 52px;
}
