* body {
  background-color: #f8faff;
  width: 1440px;
  margin: 0px auto;
  height: 5887px;
}
* body main {
  margin: 0px auto;
  position: relative;
}
* body main #header_container .header_notes {
  background-color: #272634;
  color: #ffffff;
  font: normal 400 16px/16px 'Proxima Nova';
  letter-spacing: 0.6px;
  height: 42px;
  width: 1440px;
}
* body main #header_container .header_notes ul {
  padding: 0px;
  display: flex;
  align-items: center;
}
* body main #header_container .header_notes ul li {
  padding: 0px;
  list-style: none;
}
* body main #header_container .header_notes ul li button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #05aae1;
  width: 120px;
  height: 36px;
  margin-top: 3px;
  margin-left: 34px;
}
* body main #header_container .header_notes ul li:first-child {
  margin-left: 600px;
  margin-right: 0px;
}
* body main #header_container .header_notes ul #contact {
  display: flex;
  align-items: center;
  margin-left: 231px;
  margin-right: 0px;
}
* body main #header_container .header_notes ul #contact img {
  vertical-align: center;
  margin-right: 13px;
}
* body main #header_container .header_notes ul #contact h5 {
  vertical-align: center;
  margin: 0px;
  color: #05aae1;
}
* body main #header_container nav {
  background-color: #1d1f21;
  font: normal 700 16px/19px 'Proxima Nova';
  letter-spacing: 0.4px;
  padding: 0px;
  margin: 0px;
}
* body main #header_container nav .navbar-nav .nav-link {
  padding: 0px;
}
* body main #header_container nav #coding_dojo_logo {
  margin-left: 30px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 179px;
  width: 99px;
  height: 30px;
}
* body main #header_container nav .collapse {
  margin: 0px;
}
* body main #header_container nav .collapse li {
  margin-left: 0px;
  margin-right: 46px;
  display: flex;
  align-items: center;
}
* body main #header_container nav .collapse li a {
  color: #ffffff;
  padding: 0px;
}
* body main #header_container nav .collapse li .dropdown_icon {
  width: 10px;
  height: 4px;
  margin-left: 10px;
}
* body main #header_container nav .collapse li:last-child {
  margin-right: 70px;
}
* body main #header_container nav .collapse .dojo {
  margin-right: 25px;
}
* body main #header_container nav .collapse .online {
  margin-right: 29px;
}
* body main #header_container nav button {
  background-color: #05aae1;
  color: #ffffff;
  width: 120px;
  height: 36px;
  text-align: center;
  font: normal 700 16px/19.49px 'Proxima Nova';
  padding: 0px;
}
* body main #main_container {
  background: #272634 url("../img/financing_101_banner.png") no-repeat center;
  height: 485px;
  margin: 0px;
  padding: 0px;
  position: relative;
  color: #ffffff;
}
* body main #main_container h1 {
  font: normal 700 64px/73.73px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 575px;
  height: 147px;
  position: absolute;
  left: 142px;
  top: 126px;
}
* body main #main_container #main_p {
  font: normal 400 17px/18px 'Proxima Nova';
  letter-spacing: 0.6px;
  position: absolute;
  left: 142px;
  top: 286px;
  width: 456px;
  height: 54px;
}
* body main #main_container #fixed_note {
  position: fixed;
  width: 406px;
  height: 441px;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  border-radius: 8px;
  margin-top: 95px;
  margin-left: 888px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
}
* body main #main_container #fixed_note h2 {
  font: normal 700 40px/45px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 274px;
  height: 154px;
  margin-left: 65px;
  margin-top: 51px;
}
* body main #main_container #fixed_note #fixed_note_p {
  font: normal 400 16px/22px 'Proxima Nova';
  letter-spacing: 0.3px;
  margin-left: 65px;
  width: 270px;
  height: 61px;
}
* body main #main_container #fixed_note button {
  margin-left: 65px;
  font: normal 700 16px/19.49px 'Proxima Nova';
  letter-spacing: 0.6px;
  text-align: center;
  background: #05aae1;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  border-radius: 2px;
  color: #ffffff;
  border: none;
  width: 271px;
  height: 65px;
  margin-top: 38px;
}
* body main #popular_methods_container {
  height: 1085px;
  background-color: #f8faff;
}
* body main #popular_methods_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 678px;
  height: 82px;
  margin-top: 79px;
  margin-left: 143px;
}
* body main #popular_methods_container .accordion {
  margin-left: 145px;
  width: 676px;
  margin-top: 45px;
}
* body main #popular_methods_container .accordion .accordion-item {
  margin-bottom: 18px;
  filter: drop-shadow(0px 5px 19px rgba(11, 31, 39, 0.15));
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header {
  margin: 0px;
  width: 672px;
  height: 130px;
  display: flex;
  align-items: center;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button {
  padding: 0px;
  margin: 0px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #piggy {
  margin-left: 29.23px;
  margin-top: 22.2px;
  margin-right: 45.23px;
  margin-bottom: 19.26px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #installment {
  margin-left: 29.83px;
  margin-top: 22.26px;
  margin-right: 44.69px;
  margin-bottom: 19.26px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #ascent {
  margin-left: 36.1px;
  margin-top: 37px;
  margin-right: 23.77px;
  margin-bottom: 24px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #climb {
  margin-left: 41.31px;
  margin-top: 50.8px;
  margin-right: 29px;
  margin-bottom: 57.13px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text {
  color: #333333;
  height: 51.59px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text h5 {
  font: normal 700 22px/26.8px 'Proxima Nova';
  margin: 0px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text .accordion_p {
  padding: 0px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url("../img/arrow-down-1.png");
  margin-right: 47px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-body {
  font: normal 400 14px/23.02px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 564px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-body p:last-child {
  font: normal 400 14px/16.8px 'Proxima Nova';
  letter-spacing: 0.2px;
  width: 564px;
}
* body main #gauge_savings_container {
  height: 463px;
  background-color: #505170;
  color: #ffffff;
  margin: 0px;
  position: relative;
  z-index: -1;
  width: 1440px;
}
* body main #gauge_savings_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-top: 62.13px;
  margin-left: 145.5px;
  width: 559px;
  height: 117.13px;
}
* body main #gauge_savings_container #gauge {
  width: 685.98px;
  height: 295px;
}
* body main #gauge_savings_container #gauge #gauge_progress {
  list-style: none;
  font: normal 700 14px/17.05px 'Proxima Nova';
  text-align: center;
  letter-spacing: 0.6px;
  padding: 0px;
  margin-left: 151px;
  margin-top: 30.87px;
  height: 253px;
}
* body main #gauge_savings_container #gauge #gauge_progress .group {
  display: flex;
  align-items: center;
  padding: 0px;
  float: left;
}
* body main #gauge_savings_container #gauge #gauge_progress .text {
  display: flex;
  align-items: center;
  padding: 0px;
  float: left;
}
* body main #gauge_savings_container #gauge #gauge_progress #early {
  width: 130px;
  margin-right: 6px;
  padding: 0px;
  margin-bottom: 4px;
}
* body main #gauge_savings_container #gauge #gauge_progress #open {
  width: 129px;
  margin-right: 4px;
  padding: 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress #scholarship {
  width: 130px;
  margin-right: 4px;
  padding: 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress #full {
  width: 130px;
  padding: 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress .rectangle {
  width: 130px;
  height: 41px;
  background-color: #05aae1;
  margin-top: 4px;
  margin-left: 4px;
  padding: 0px;
  padding-top: 11px;
}
* body main #gauge_savings_container #gauge #gauge_progress .rectangle:last-child {
  border-radius: 0px 15px 15px 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text {
  font: normal 400 12px/12px 'Proxima Nova';
  text-align: left;
  margin-top: 22px;
  margin-left: 3px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .early_text {
  padding-left: 0px;
  width: 121.5px;
  margin-right: 12.5px;
  padding-right: 5px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .open_text {
  padding-left: 0px;
  width: 125px;
  margin-right: 10px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .scholarship_text {
  padding-left: 0px;
  width: 118px;
  margin-right: 17px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .full_text {
  padding-left: 0px;
  width: 110px;
  position: flex;
  height: 72px;
}
* body main #gauge_savings_container #gauge p {
  margin-left: 155.09px;
  font: normal 400 10px/10px 'Proxima Nova';
  letter-spacing: 0.6px;
  height: 42px;
  width: 538.68px;
}
* body main #gauge_savings_container h3 {
  font: normal 400 18px/18px 'Proxima Nova';
  letter-spacing: 0.6px;
  text-align: center;
  position: absolute;
  top: 158px;
  left: 706.98px;
  width: 130px;
  height: 24px;
}
* body main #gauge_savings_container h4 {
  font: normal 700 26px/31.67px 'Proxima Nova';
  letter-spacing: 0.6px;
  text-align: center;
  position: absolute;
  top: 182px;
  left: 706.98px;
  width: 130px;
  height: 24px;
}
* body main #gauge_savings_container #circle {
  position: absolute;
  left: 145px;
  top: 168px;
}
* body main #gauge_savings_container #bar {
  position: absolute;
  left: 678.38px;
  top: 164px;
}
* body main #fund_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-top: 71px;
  margin-left: 145.5px;
  width: 559px;
  height: 55px;
}
* body main #fund_container div {
  display: flex;
  align-items: flex-start;
}
* body main #fund_container div p {
  font: normal 400 18px/27px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-top: 58.07px;
  margin-left: 145px;
  width: 271px;
  height: 213.93px;
}
* body main #fund_container div table {
  width: 293px;
  height: 297px;
  margin-left: 45.5px;
  margin-top: 21px;
  color: #333333;
}
* body main #fund_container div table th {
  font: normal 700 16px/22.4px 'Proxima Nova';
  text-align: center;
  color: #333333;
  width: 123px;
  height: 50px;
  padding: 0px;
  padding-bottom: 21px;
}
* body main #fund_container div table thead,
* body main #fund_container div table tbody {
  border-style: none;
  border-color: transparent;
  vertical-align: middle;
}
* body main #fund_container div table td {
  padding: 0px;
  font: normal 400 16px/23.49px 'Proxima Nova';
  height: 62px;
}
* body main #fund_container div table .td_title {
  padding-left: 19px;
  width: 156px;
}
* body main #fund_container div table .td_data {
  width: 137px;
  text-align: center;
}
* body main #fund_container div table .knock {
  width: 85.5px;
  font: normal 400 12.5px/15.48px 'Proxima Nova';
  padding-top: 18px;
  padding-right: 18px;
  padding-left: 30px;
  padding-bottom: 18px;
}
* body main #fund_container div table .gray_highlight {
  background: rgba(196, 196, 196, 0.23);
}
* body main #cat {
  position: absolute;
}
