* body {
  background-color: #f8faff;
  margin: 0px auto;
}
* body main {
  margin: 0px auto;
  position: relative;
}
* body main #header {
  background-color: #272634;
}
* body main #header #cohort_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 3px 40px 3px 600px;
}
* body main #header #cohort_container #cohort_notes {
  background-color: #272634;
  color: #ffffff;
  font: normal 400 16px/16px 'Proxima Nova';
  letter-spacing: 0.6px;
}
* body main #header #cohort_container #cohort_notes #cohort_details {
  align-items: center;
  display: flex;
  padding: 0px;
  margin: 0px;
}
* body main #header #cohort_container #cohort_notes #cohort_details li {
  list-style: none;
  padding: 0px;
}
* body main #header #cohort_container #cohort_notes #cohort_details li button {
  background-color: transparent;
  border: 1px solid #05aae1;
  color: #ffffff;
  height: 36px;
  margin-left: 64px;
  width: 120px;
}
* body main #header #cohort_container #cohort_notes #cohort_details #cohort_text {
  margin-right: 0px;
}
* body main #header #cohort_container #cohort_notes #cohort_details #cohort_contact {
  align-items: center;
  display: flex;
  margin-left: 230px;
  margin-right: 0px;
}
* body main #header #cohort_container #cohort_notes #cohort_details #cohort_contact img {
  margin-right: 13px;
  vertical-align: center;
}
* body main #header #cohort_container #cohort_notes #cohort_details #cohort_contact h5 {
  color: #05aae1;
  font: normal 400 16px/16px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  vertical-align: center;
}
* body main #nav_bar {
  background-color: #1d1f21;
}
* body main #nav_bar #nav_container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 13px 40px 13px 30px;
}
* body main #nav_bar #nav_container nav {
  font: normal 700 16px/19px 'Proxima Nova';
  letter-spacing: 0.4px;
  margin: 0px;
  padding: 0px;
}
* body main #nav_bar #nav_container nav .navbar-nav .nav-link {
  padding: 0px;
}
* body main #nav_bar #nav_container nav #coding_dojo_logo {
  height: 30px;
  margin-right: 179px;
  width: 99px;
}
* body main #nav_bar #nav_container nav .collapse {
  margin: 0px;
}
* body main #nav_bar #nav_container nav .collapse li {
  align-items: center;
  display: flex;
  margin-left: 0px;
  margin-right: 46px;
}
* body main #nav_bar #nav_container nav .collapse li a {
  color: #ffffff;
  padding: 0px;
}
* body main #nav_bar #nav_container nav .collapse li .dropdown_icon {
  height: 4px;
  margin-left: 10px;
  width: 10px;
}
* body main #nav_bar #nav_container nav .collapse li:last-child {
  margin-right: 72px;
}
* body main #nav_bar #nav_container nav .collapse .dojo {
  margin-right: 25px;
}
* body main #nav_bar #nav_container nav .collapse .online {
  margin-right: 29px;
}
* body main #nav_bar #nav_container nav button {
  background-color: #05aae1;
  color: #ffffff;
  font: normal 700 16px/19.49px 'Proxima Nova';
  height: 36px;
  padding: 0px;
  text-align: center;
  width: 120px;
}
* body main #fixed_note #fixed_note_container {
  margin: 0px auto;
  max-width: 1440px;
}
* body main #fixed_note #fixed_note_container #fixed_note_box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: #333333;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
  height: 441px;
  margin-left: 888px;
  margin-top: 95px;
  margin-right: 144px;
  position: fixed;
  width: 406px;
}
* body main #fixed_note #fixed_note_container #fixed_note_box #fixed_note_head_text {
  font: normal 700 40px/45px 'Proxima Nova';
  height: 154px;
  letter-spacing: 0.6px;
  margin-left: 65px;
  margin-top: 51px;
  width: 274px;
}
* body main #fixed_note #fixed_note_container #fixed_note_box #fixed_note_p {
  font: normal 400 16px/22px 'Proxima Nova';
  height: 61px;
  letter-spacing: 0.3px;
  margin-left: 65px;
  width: 270px;
}
* body main #fixed_note #fixed_note_container #fixed_note_box button {
  background: #05aae1;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: #ffffff;
  font: normal 700 16px/19.49px 'Proxima Nova';
  height: 65px;
  letter-spacing: 0.6px;
  margin-left: 65px;
  margin-top: 38px;
  text-align: center;
  width: 271px;
}
* body main #banner {
  background: url("../img/financing_101_banner.png") no-repeat center;
  background-size: cover;
}
* body main #banner #banner_container {
  color: #ffffff;
  height: 485px;
  margin: 0px;
  padding: 126px 786px 166px 142px;
  position: relative;
  margin: 0px auto;
  max-width: 1440px;
}
* body main #banner #banner_container h1 {
  font: normal 700 64px/73.73px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin-bottom: 13px;
}
* body main #banner #banner_container #main_p {
  font: normal 400 17px/18px 'Proxima Nova';
  letter-spacing: 0.6px;
}
* body main #popular_methods_container {
  background-color: #f8faff;
  height: 1085px;
}
* body main #popular_methods_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  height: 82px;
  letter-spacing: 0.6px;
  margin-left: 143px;
  margin-top: 79px;
  width: 678px;
}
* body main #popular_methods_container .accordion {
  margin-left: 145px;
  margin-top: 45px;
  width: 676px;
}
* body main #popular_methods_container .accordion .accordion-item {
  filter: drop-shadow(0px 5px 19px rgba(11, 31, 39, 0.15));
  margin-bottom: 18px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header {
  align-items: center;
  display: flex;
  height: 130px;
  margin: 0px;
  width: 672px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button {
  margin: 0px;
  padding: 0px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #piggy {
  margin-bottom: 19.26px;
  margin-left: 29.23px;
  margin-right: 45.23px;
  margin-top: 22.2px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #installment {
  margin-bottom: 19.26px;
  margin-left: 29.83px;
  margin-right: 44.69px;
  margin-top: 22.26px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #ascent {
  margin-bottom: 24px;
  margin-left: 36.1px;
  margin-right: 23.77px;
  margin-top: 37px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button #climb {
  margin-bottom: 57.13px;
  margin-left: 41.31px;
  margin-right: 29px;
  margin-top: 50.8px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text {
  color: #333333;
  height: 51.59px;
  vertical-align: middle;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text h5 {
  font: normal 700 22px/26.8px 'Proxima Nova';
  margin: 0px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text .accordion_p {
  padding: 0px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url("../img/arrow-down-1.png");
  margin-right: 47px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-body {
  font: normal 400 14px/23.02px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 564px;
}
* body main #popular_methods_container .accordion .accordion-item .accordion-body p:last-child {
  font: normal 400 14px/16.8px 'Proxima Nova';
  letter-spacing: 0.2px;
  width: 564px;
}
* body main #gauge_savings_container {
  background-color: #505170;
  color: #ffffff;
  height: 463px;
  margin: 0px;
  position: relative;
  width: 1440px;
  z-index: -1;
}
* body main #gauge_savings_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  height: 117.13px;
  letter-spacing: 0.6px;
  margin-left: 145.5px;
  padding-top: 62.13px;
  width: 559px;
}
* body main #gauge_savings_container #gauge {
  width: 685.98px;
  height: 295px;
}
* body main #gauge_savings_container #gauge #gauge_progress {
  font: normal 700 14px/17.05px 'Proxima Nova';
  height: 253px;
  letter-spacing: 0.6px;
  list-style: none;
  margin-left: 151px;
  margin-top: 30.87px;
  padding: 0px;
  text-align: center;
}
* body main #gauge_savings_container #gauge #gauge_progress .group {
  align-items: center;
  display: flex;
  float: left;
  padding: 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress .text {
  align-items: center;
  display: flex;
  float: left;
  padding: 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress #early {
  margin-bottom: 4px;
  margin-right: 6px;
  padding: 0px;
  width: 130px;
}
* body main #gauge_savings_container #gauge #gauge_progress #open {
  margin-right: 4px;
  padding: 0px;
  width: 129px;
}
* body main #gauge_savings_container #gauge #gauge_progress #scholarship {
  margin-right: 4px;
  padding: 0px;
  width: 130px;
}
* body main #gauge_savings_container #gauge #gauge_progress #full {
  padding: 0px;
  width: 130px;
}
* body main #gauge_savings_container #gauge #gauge_progress .rectangle {
  background-color: #05aae1;
  height: 41px;
  margin-left: 4px;
  margin-top: 4px;
  padding-top: 11px;
  padding-left: 0px;
  width: 130px;
}
* body main #gauge_savings_container #gauge #gauge_progress .rectangle:last-child {
  border-radius: 0px 15px 15px 0px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text {
  font: normal 400 12px/12px 'Proxima Nova';
  margin-left: 3px;
  margin-top: 22px;
  text-align: left;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .early_text {
  margin-right: 12.5px;
  padding-left: 0px;
  padding-right: 5px;
  width: 121.5px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .open_text {
  margin-right: 10px;
  padding-left: 0px;
  width: 125px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .scholarship_text {
  margin-right: 17px;
  padding-left: 0px;
  width: 118px;
}
* body main #gauge_savings_container #gauge #gauge_progress #gauge_text .full_text {
  height: 72px;
  padding-left: 0px;
  position: flex;
  width: 110px;
}
* body main #gauge_savings_container #gauge p {
  font: normal 400 10px/10px 'Proxima Nova';
  height: 42px;
  letter-spacing: 0.6px;
  margin-left: 155.09px;
  width: 538.68px;
}
* body main #gauge_savings_container h3 {
  font: normal 400 18px/18px 'Proxima Nova';
  height: 24px;
  left: 706.98px;
  letter-spacing: 0.6px;
  position: absolute;
  text-align: center;
  top: 158px;
  width: 130px;
}
* body main #gauge_savings_container h4 {
  font: normal 700 26px/31.67px 'Proxima Nova';
  height: 24px;
  left: 706.98px;
  letter-spacing: 0.6px;
  position: absolute;
  text-align: center;
  top: 182px;
  width: 130px;
}
* body main #gauge_savings_container #circle {
  left: 145px;
  position: absolute;
  top: 168px;
}
* body main #gauge_savings_container #bar {
  left: 678.38px;
  position: absolute;
  top: 164px;
}
* body main #fund_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  height: 55px;
  letter-spacing: 0.6px;
  margin-left: 145.5px;
  margin-top: 71px;
  width: 559px;
}
* body main #fund_container div {
  align-items: flex-start;
  display: flex;
}
* body main #fund_container div p {
  font: normal 400 18px/27px 'Proxima Nova';
  height: 213.93px;
  letter-spacing: 0.6px;
  margin-left: 145px;
  margin-top: 58.07px;
  width: 271px;
}
* body main #fund_container div table {
  color: #333333;
  height: 297px;
  margin-left: 45.5px;
  margin-top: 21px;
  width: 293px;
  margin-bottom: 46px;
}
* body main #fund_container div table th {
  color: #333333;
  font: normal 700 16px/22.4px 'Proxima Nova';
  height: 50px;
  padding-bottom: 21px;
  padding: 0px;
  text-align: center;
  width: 123px;
}
* body main #fund_container div table thead,
* body main #fund_container div table tbody {
  border-color: transparent;
  border-style: none;
  vertical-align: middle;
}
* body main #fund_container div table td {
  font: normal 400 16px/23.49px 'Proxima Nova';
  height: 62px;
  padding: 0px;
}
* body main #fund_container div table .td_title {
  padding-left: 19px;
  width: 156px;
}
* body main #fund_container div table .td_data {
  text-align: center;
  width: 137px;
}
* body main #fund_container div table .knock {
  font: normal 400 12.5px/15.48px 'Proxima Nova';
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 18px;
  padding-top: 18px;
  width: 85.5px;
}
* body main #fund_container div table .gray_highlight {
  background: rgba(196, 196, 196, 0.23);
}
* body main #when_funding_container {
  background-color: #505170;
  color: #ffffff;
  height: 1218px;
}
* body main #when_funding_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  height: 178px;
  letter-spacing: 0.6px;
  margin-bottom: 28px;
  margin-left: 147px;
  padding-top: 77px;
  width: 559px;
}
* body main #when_funding_container p {
  font: normal 400 18px/27px 'Proxima Nova';
  height: 135px;
  letter-spacing: 0.6px;
  margin-bottom: 26px;
  margin-left: 145px;
  width: 612px;
}
* body main #when_funding_container ul {
  padding: 0px;
}
* body main #when_funding_container ul li {
  align-items: flex-start;
  display: flex;
  list-style: none;
  padding: 0px;
}
* body main #when_funding_container ul li #admin {
  margin-bottom: 34px;
  margin-left: 145.5px;
}
* body main #when_funding_container ul li #study {
  margin-bottom: 50px;
  margin-left: 156px;
}
* body main #when_funding_container ul li #coinbank {
  margin-bottom: 26px;
  margin-left: 166.39px;
}
* body main #when_funding_container ul li #coding {
  margin-left: 166px;
}
* body main #when_funding_container ul li div h5 {
  font: normal 700 20px/24.36px 'Proxima Nova';
  height: 35px;
  letter-spacing: 0.6px;
  margin-bottom: 0px;
}
* body main #when_funding_container ul li div p {
  bottom: 0px;
  font: normal 400 18px/27px 'Proxima Nova';
  height: auto;
  letter-spacing: 0.6px;
  margin-left: 0px;
  width: 406px;
}
* body main #when_funding_container ul li #speak {
  margin-left: 44.5px;
  margin-top: 16px;
}
* body main #when_funding_container ul li #apply {
  margin-left: 52px;
  margin-top: 23px;
}
* body main #when_funding_container ul li #secure {
  margin-left: 62.61px;
  margin-top: 21px;
}
* body main #when_funding_container ul li #start {
  margin-left: 56px;
  margin-top: 19px;
}
* body main #top_names_container {
  height: 393px;
}
* body main #top_names_container h2 {
  font: normal 700 40px/48.72px 'Proxima Nova';
  height: 148px;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
  margin-left: 147px;
  padding-top: 87px;
  width: 678px;
}
* body main #top_names_container div {
  margin-left: 144px;
}
* body main #top_names_container div ul {
  align-items: center;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}
* body main #top_names_container div ul li {
  list-style: none;
}
* body main #top_names_container div ul #google {
  margin-right: 28px;
}
* body main #top_names_container div ul #amazon {
  margin-right: 34.17px;
}
* body main #top_names_container div ul #airbnb {
  margin-right: 63px;
}
* body main #top_names_container div ul #dropbox {
  margin-right: 63px;
}
* body main #top_names_container div ul #uber {
  margin-right: 57px;
}
* body main #top_names_container div ul #slack {
  margin-right: 59px;
}
* body main #top_names_container div ul #twitter {
  margin-right: 42px;
}
* body main #top_names_container div ul #facebook {
  margin-right: 44px;
}
* body main #top_names_container div #first_group {
  height: 43.86px;
  margin-bottom: 37.14px;
}
* body main #top_names_container div #second_group {
  height: 36px;
  margin-bottom: 88px;
}
* body main #quote_container {
  height: 332px;
  margin-left: 162px;
  position: relative;
}
* body main #quote_container h3 {
  color: #333333;
  font: normal 400 31px/31px 'Proxima Nova';
  height: 120px;
  letter-spacing: 0.6px;
  margin-top: 71px;
  width: 676px;
}
* body main #quote_container div {
  align-items: flex-start;
  display: flex;
}
* body main #quote_container div ul {
  list-style: none;
  margin-left: 17px;
  padding-left: 0px;
}
* body main #quote_container div ul h5 {
  color: #333333;
  font: normal 700 19px/23.14px 'Proxima Nova';
  height: 22px;
  margin-bottom: 3px;
}
* body main #quote_container div ul p {
  color: #333333;
  font: normal 400 16px/22.4px 'Proxima Nova';
  height: 22px;
  margin-bottom: 0px;
}
* body main #quote_container #quotation {
  left: 219px;
  position: absolute;
  top: 68px;
  margin: 0px;
}
* body main #faqs_container {
  height: 870px;
}
* body main #faqs_container h2 {
  font: normal 700 32px/38.98px 'Proxima Nova';
  height: 138.6px;
  letter-spacing: 0.6px;
  margin-bottom: 18.4px;
  margin-left: 152px;
  padding-top: 75px;
  width: 677.02px;
  color: #333333;
}
* body main #faqs_container .accordion {
  margin-left: 153.02px;
  margin-top: 18.4px;
  width: 676px;
}
* body main #faqs_container .accordion .accordion-item {
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  filter: drop-shadow(0px 5px 19px rgba(11, 31, 39, 0.15));
  margin-top: 19px;
}
* body main #faqs_container .accordion .accordion-item .accordion-header {
  width: 672px;
}
* body main #faqs_container .accordion .accordion-item .accordion-header h4 {
  margin-top: 18.4px;
  margin-bottom: 15px;
  margin-left: 64.12px;
  color: #2c393e;
  font: normal 700 20px/24.36px 'Proxima Nova';
}
* body main #faqs_container .accordion .accordion-item .accordion-header .accordion-button {
  margin: 0px;
  padding: 0px;
}
* body main #faqs_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text {
  color: #333333;
  height: 51.59px;
  vertical-align: middle;
}
* body main #faqs_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text h5 {
  font: normal 700 22px/26.8px 'Proxima Nova';
  margin: 0px;
}
* body main #faqs_container .accordion .accordion-item .accordion-header .accordion-button .accordion_text .accordion_p {
  padding: 0px;
}
* body main #faqs_container .accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url("../img/arrow-down-1.png");
  margin-right: 47px;
}
* body main #faqs_container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
* body main #faqs_container .accordion .accordion-item .accordion-body {
  padding: 0px;
}
* body main #faqs_container .accordion .accordion-item .accordion-body p {
  font: normal 400 16px/23.02px 'Proxima Nova';
  height: 208px;
  letter-spacing: 0.6px;
  margin-left: 68px;
  width: 505.98px;
}
* body main #faqs_container .accordion .accordion-item:first-child {
  margin-top: 0px;
}
* body main #cat {
  left: 792px;
  position: absolute;
  top: 2198.13px;
  width: 31.51px;
}
